# .env.example

# Environment Name
NODE_ENV=development

# Server listen to this port
PORT=3000

# Databse 
MONGODB_URL=mongodb://127.0.0.1:27017/stack-over-flow-DB

# Log
# Example '/home/node/logs'
# DEFAUlT is this project's directory
LOG_DIR=./logs

OPENAI_API_KEY=

JWT_SECRET=

JWT_ACCESS_EXPIRATION=

